In [27]:
import pandas as pd
from mysql import connector
from dotenv import load_dotenv
import os
from datetime import datetime

import warnings

# CineColombia

In [28]:
load_dotenv()

username = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
DB = ['CineColombia', 'CineMark', 'Procinal']
print(f'DB_USER: {username}, DB_HOST:{host}')

DB_USER: root, DB_HOST:127.0.0.1

In [29]:
for db in DB:
    conn = connector.connect(user=username,
                         password=password,
                         host=host,
                         database=db)
    df_visualizaciones = pd.read_sql('''SELECT * FROM visualizaciones;''', conn)
    filename = db+'_' + str(datetime.now().date())+ '_visualizaciones' + '.csv'
    df_visualizaciones.to_csv(index=False, date_format='%Y-%M-%d', path_or_buf=f'data/{filename}')
    df_usuarios = pd.read_sql('''SELECT * FROM usuarios;''', conn)
    filename = db+'_' + str(datetime.now().date()) +' _usuarios' + '.csv'
    df_usuarios.to_csv(index=False, date_format='%Y-%M-%d', path_or_buf=f'data/{filename}')
    df_peliculas = pd.read_sql('''SELECT * FROM peliculas;''', conn)
    filename = db+'_' + str(datetime.now().date()) + '_peliculas' + '.csv'
    df_peliculas.to_csv(index=False, date_format='%Y-%M-%d', path_or_buf=f'data/{filename}')

C:\Users\silvi\AppData\Local\Temp\ipykernel_57712\180939996.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_visualizaciones = pd.read_sql('''SELECT * FROM visualizaciones;''', conn)
C:\Users\silvi\AppData\Local\Temp\ipykernel_57712\180939996.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_usuarios = pd.read_sql('''SELECT * FROM usuarios;''', conn)
C:\Users\silvi\AppData\Local\Temp\ipykernel_57712\180939996.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_peliculas = pd.read_sql('''SELECT * FROM peliculas;''', conn)

# Cities

In [30]:
str(datetime.now())

'2023-11-01 23:35:42.434541'

In [31]:
cities = pd.read_csv('cities.csv')
cities

                     CIUDAD CIUDADGEO2 CIUDADGEO3      PAIS PAISGEO2 PAISGEO3
0                    Bogota         BO        BOG  Colombia       CO      COL
1                  Medellin         ME       MED   Colombia       CO      COL
2                      Cali         CA        CAL  Colombia       CO      COL
3  San Andres y Providencia         SA        SAP  Colombia       CO      COL
4                 Cartagena         CT        CTG  Colombia       CO      COL
5              Barranquilla         BA        BAQ  Colombia       CO      COL
6               Santa Marta         SM        SMT  Colombia       CO      COL
7                Valledupar         VP        VDP  Colombia       CO      COL
8               Bucaramanga         BM        BCM  Colombia       CO      COL

In [32]:
city = cities.sample()
city

   CIUDAD CIUDADGEO2 CIUDADGEO3      PAIS PAISGEO2 PAISGEO3
0  Bogota         BO        BOG  Colombia       CO      COL

In [33]:
city['CIUDAD'].values

array(['Bogota'], dtype=object)